*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
.main{
    width: 100%;
    height: 100vh;
    background: url(BG\ 0.avif);
    background-size: cover;
}
.overlay{
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
}

.title{
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 2.5rem;

}

.col{
    margin-top: 30px;
    width: 500px;
    display: flex;
    justify-content: center;
    color: white;
}

.col div{
    width: 350px;
    text-align: center;
}

input{
    width: 80px;
    background-color: rgba(250, 247, 247, 0.7);
    border-color: transparent;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}